<ion-content [fullscreen]="true">

  <!-- <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher> -->


  <ion-slides [options]="catSlideOpts">
    <ion-slide swiperSlide *ngFor="let categorie of categories">
      <img [src]="categorie.img" alt="" srcset="">
    </ion-slide>
  </ion-slides>

  <ion-slides [options]="highlighSlideOpts">
    <ion-slide swiperSlide *ngFor="let highlight of highlights">
      <img [src]="highlight.img" alt="" srcset="">
    </ion-slide>
  </ion-slides>

  <ion-text color="dark">
    <b style="padding-left: 10px;">Featured</b>
  </ion-text>

  <ion-slides [options]="featuredSlideOpts">
    <ion-slide swiperSlide *ngFor="let feature of featured" class="featured-slide" routerLink="/details">

      <img [src]="feature.img" alt="" srcset="">

      <div class="info">
        <ion-text color="dark"><b> {{feature.name}} </b></ion-text>
        <span>
          <ion-icon name="star" color="success"></ion-icon>
          <ion-text color="success"> {{feature.rating}} </ion-text>
          {{feature.ratings}}
        </span>
        <span>
          <ion-icon name="location-outline" color="success">{{feature.distance}}</ion-icon>
        </span>
      </div>

    </ion-slide>
  </ion-slides>

</ion-content>
